.center-content {
  text-align: center;
}

.arrow {
  height: 3rem;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media only screen and (max-width: 768px) {
  .arrow {
    height: 2rem;
  }
}

.arrow-left {
  transform: rotate(180deg);
}

.v-button {
  background: #48b8d0;
}

.highlight {
  animation: hlt 5s ease !important;
}

@keyframes hlt {
  10% {
    box-shadow: 0 0 5px 5px rgb(255, 208, 0);
  }
  100% {
    box-shadow: 0 0 5px 5px transparent;
  }
}

@media screen and (max-width: 991px) {
  .v-floating-details {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    padding: 0 15px 5px;
    font-size: 1rem;
    border: none;
    background: #2c99ce;
    color: #fff;
    border-radius: 20px 20px 0 0;
    font-weight: 600;
    z-index: 3;
    opacity: 0.7;
    margin-bottom: 0;
    text-align: center;
  }
  .v-floating-details > .v-instruction-,
  .v-floating-details > .v-detail-title {
    display: none;
  }
  body {
    padding-bottom: 40px;
  }
}
